.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  display: flex;
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 92px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.cover__overlay::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #2A2C2F;
  transition: opacity 0.2s linear;
}

.cover__overlay:hover::after {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
    margin-bottom: 64px;
    margin-top: 66px;
  }
}
